* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(54, 54, 54);
  color: white;
  width: 100vw;
  margin: 0 auto;
}
header {
  background-color: rgb(0, 0, 0);
  margin-bottom: 24px;
  border-radius: 4px;
  padding: 4px 12px 0;
}
h1 {
  margin: 0 0 16px;
  font-size: 20px;
}

.title-card {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 12px;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav ul li {
  margin: 8px;
  padding: 8px;
  list-style: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}
nav ul li:hover {
  background-color: rgb(53, 53, 53);
}
a {
  text-decoration: none;
  color: white;
}
.container {
  padding: 12px;
}
.products {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.card-product {
  position: relative;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  margin: 0 auto;
  padding: 12px 12px 62px;
}
.image-product-card {
  position: relative;
  padding-top: 56.25%;
  border: 1px solid white;
  border-radius: 8px;
  overflow: hidden;
}
.image-product-card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  object-fit: cover;
}
.card-product h1 {
  text-align: center;
}
.buttons-card {
  margin-top: 12px;
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translate(-50%);
}
.secondary-button {
  margin: 0 auto;
  height: 30px;
  width: 60px;
  box-shadow: 0 2px 4px;
}
@media(min-width: 1024px){
  body {
    width: 90vw;
    font-size: 20px;
  }
  h1 {
    margin: 0 0 16px;
    font-size: 40px;
  }
  .products {
    margin-top: 84px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 84px;
  }
}